<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manages.background.dao.PermissionMapper">
    <select id="PermissionList" resultType="com.manages.background.pojo.Permission">
        SELECT tm.*
        FROM tb_menu_permission tmp LEFT JOIN tb_psermission tp ON tmp.permission_id = tp.id LEFT JOIN tb_menu tm ON tmp.menu_id = tm.id
        WHERE
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="PermissionByRoleId" resultType="com.manages.background.pojo.Permission">
        SELECT tp.*
        FROM tb_role_permission trp LEFT JOIN tb_psermission tp ON trp.permission_id = tp.id LEFT JOIN tb_role tr ON trp.role_id = tr.id
        WHERE tr.id in
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>