<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manages.background.dao.PermissionMapper">

    <select id="PermissionByRoleId" resultType="com.manages.background.pojo.Permission">
        SELECT tp.*
        FROM tb_role tr LEFT JOIN tb_role_permission trp ON tr.id =trp.role_id LEFT JOIN tb_psermission tp ON
        trp.permission_id = tp.id
        WHERE tr.id in
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="PermissionByIdList" resultType="com.manages.background.pojo.Permission">
        SELECT tp.*
        FROM tb_role_permission trp LEFT JOIN tb_psermission tp ON trp.permission_id = tp.id
        WHERE trp.role_id in
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="list" resultType="com.manages.background.pojo.Permission">
        SELECT tp.*
        FROM tb_role tr LEFT JOIN tb_role_permission trp ON tr.id =trp.role_id LEFT JOIN tb_psermission tp ON trp.permission_id = tp.id
        WHERE tr.id =#{id}
    </select>
</mapper>